{% extends "home_app/base.html" %}

{% load static %}

{% block content %}


    <!---------------------- Carrusel ------------------------>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" id="start">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">              
                <img src="{% static 'home_app/img/carrusel_metal.jpg' %}" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Revestimientos</h3>
                    <p>De los más altos estándares</p>
                    <a class="btn btn-outline-light btn-lg" href="#services">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'home_app/img/carrusel_piso.jpg' %}" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Pisos</h3>
                    <p>Amplia durabilidad</p>
                    <a class="btn btn-outline-light btn-lg" href="#services">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'home_app/img/carrusel_civil.jpg' %}" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Obras civiles</h3>
                    <p>De todo tipo</p>
                    <a class="btn btn-outline-light btn-lg" href="#services">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'home_app/img/carrusel_prfv.jpg' %}" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Perfiles en PRFV</h3>
                    <p>¡Somos fabricantes!</p>
                    <a class="btn btn-outline-light btn-lg" href="#services">Ver Servicios</a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!---------------------- Fin de Carrusel ------------------------>

    <!---------------------- Tarjetas de categorías ------------------------>
    <div id="services">
    <div class="col-12 text-center ">
        <h1 class="text-dark pt-4">Servicios</h1>
        <div class="heading-underline w-25 mt-3"></div>
    </div>

    <div class="row">
        {% for category in categories %}
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
            <div class="card mb-5 shadow-sm">
                <img src="{{category.image.url}}">
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{category.name}}</h3>
                    </div>
                    <div class="card-text">
                        <p>{{category.description}}</p>
                    </div> 
                </div>
                <a href="{% url 'Services' %}" class="btn btn-outline-primary rounded-5">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!---------------------- Acerca de ------------------------>
    <div class="container my-5">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto">
        <h1 class="text-dark font-weight-bold mb-3 text-center" >Sobre Nosotros</h1>
        <div class="heading-underline w-25"></div>
        <p class="mb-5 pt-3">Con más de 30 años de experiencia en Argentina y 12 en Uruguay, 
            nuestro servicio se orienta a tareas específicas y el desarrollo de trabajos con ingeniería propia.
        </p>
            <p class="mb-4">Nuestro trabajo es especializado en el área de la construcción. Somos fabricantes
            e importadores de perfiles PERFV 
            </p>
        </div>
        <div class="col-lg-8"><img src="{% static 'home_app/img/sobre_nosotros.jpg' %}" id="about_us" class="w-100">
        </div>
    </div>
    </div>
    
    <!---------------------- Alardeo ------------------------>
    <div class="col-12 text-center">
    <h1 class="text-dark pt-3">Algunos de nuestros clientes</h1>
    <div class="heading-underline w-25 mt-3"></div>
    </div>
    <div class="row mb-3" id="brands">
        <div class="col-lg-2 col-md-4 col-sm-4 text-center">
            <img src="{% static 'home_app/img/conaprole.png' %}">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <img  src="{% static 'home_app/img/ancap.png' %}">
        </div>
        <div class="col-lg-3 col-md-5 col-sm-4 text-center">
            <img src="{% static 'home_app/img/miem.png' %}">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center">
            <img  src="{% static 'home_app/img/malteria.png' %}">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 text-center">         
            <img  src="{% static 'home_app/img/anep.png' %}">          
        </div>
    </div>

{% endblock %}