---
import Banner from '../components/Banner.vue';
import Fetch from '../components/Fetch.vue';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <div class="bg-white">
        
        <!-- <Fetch client:load/>    -->
        <Banner />
    </div>
</Layout>

